<div style='width:1100px; height:500px; margin:auto;'>
  <button>capture focus</button>
  {{#if @sortable}}
    <button {{on 'click' this.toggleSort}}>Sort</button>
  {{/if}}
  {{yield this.addonsByCategory}}
</div>
